getfit-next.local {
    # Forward requests for /pocketbase/* to the pocketbase service, stripping the prefix
    handle_path /pocketbase/* {
        reverse_proxy pocketbase:8090
    }

    # Forward all other requests to the nextjs app
    handle {
        reverse_proxy getfit-app:3001
    }

    encode gzip
}
